version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    #image: nodeapp-backend:v1
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production 

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    #image: nodeapp-fontend:v1
    ports:
      - "8080:80"
    depends_on:
      - backend